experiment:
  name: "fingerprint_segmentation"
  seed: 42

dataset:
  img_dir: "dataset/DBII"
  mask_dir: "dataset/processed/debug/mask"
  output_dir: "dataset/outpdata/processed/segmentation"
  image_size: [256, 256]
  batch_size: 8
  num_workers: 2
  val_split: 0.2
  shuffle: true
  pin_memory: true

training:
  epochs: 10
  device: "auto"
  max_grad_norm: 1.0
  checkpoint_dir: "data/checkpoints/segmentation"
  checkpoint_every_n_epochs: 999
  early_stopping:
    enabled: true
    patience: 5
  save_best_only: true

optimizer:
  type: "AdamW"
  lr: 0.00015
  weight_decay: 0.0005

scheduler:
  type: "ReduceLROnPlateau"
  mode: "min"
  factor: 0.5
  patience: 3
  min_lr: 0.00001

loss:
  bce_weight: 0.7
  dice_weight: 1.0
  use_focal_tversky: true
  focal_tversky:
    alpha: 0.7
    beta: 0.3
    gamma: 0.75

augmentation:
  use_albumentations: true

  horizontal_flip_p: 0.5

  shift_scale_rotate:
    p: 0.6
    shift_limit: 0.03
    scale_limit: 0.1
    rotate_limit: 5

  brightness_contrast_p: 0.25

  gauss_noise_p: 0.35

  elastic_transform_p: 0.25

logging:
  use_tensorboard: false
  tb_log_dir: "data/logging/segmentation"

model:
  pretrained_model: null
  num_labels: 1
  save_path: "src/preprocessing/segmentation/model/fingerprint.pth"

misc:
  resume_from_checkpoint: ""
